*{
    font-family: 'Roboto', sans-serif;

}
/*Barra superior de descuentos*/
.nav_top {
    background-color: #1CD1B0;
    height: 38px;
    margin-bottom: 0px;
}

.nav_top p {
    padding: 12px 0px 0px 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

/*Barra de navegacion*/

nav {
    background-color: #00669F;
    height: 101px;
    margin-top: 0px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

h1 {
    margin: 0px;
    padding:28px 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
}

/*Secciones de las tarjetas*/

.contenedor {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin: 3rem 1rem;
    flex-wrap: wrap;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 532px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative; /*buscar motivo de relative*/
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin: 2em;
}

.fondo {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

i {
    color:#CC2424;
    font-size: 30px; /*tamaño del icono se pone como el tamaño de fuente*/
    position: absolute;
    top: 15px;
    left: 21px;

}

/*para hacer una imagen redonda en CSS*/
.perfil{
    width: 120px;
    height: 120px;
    border-radius: 50%; /* para que se ajustable con %*/
    position: absolute;
    top: 128px;
    right: 90px;
}

/*seccion del texto de la tarjeta*/
.card_text {
    margin: 60px 16px 0px 16px;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0.3rem;
}

.card_text p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #333333;
    text-align:justify;
    margin: 0px 10px;
}

/*estilos para el boton*/
button {
    width: 128.78px;
    height: 48.52px;
    background-color: #00669F;
    color: white;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    border: none;
}

/* no me tomaba el margen en el <button> asi que por eso llame a la clase que le habiamos puesto*/
.ver_mas {
    margin: 18px 86px 18px 86px;
    position:absolute;
    bottom: 0.5rem;
}

/*seccion footer*/
footer{
    background-color: #00669F;
    color: white;
    height: 51px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
}